@font-face {
  font-family: 'Sketchy';
  src: url('../images/Sketchy.ttf');
}
body {
	margin:auto;
    width:960px;
	font-size:1em;
    font-family:Tahoma,Arial,serif;
}
/******** HEADER ********************/
header .sketchy {
    font-family: 'Sketchy',Arial, serif; 
}
header h1.sketchy {
    font-size: 2.6em;
    margin-top:10px;
    margin-bottom:15px;
}
header h2.sketchy {
    font-size: 1.7em;
}
header section#me {
  width:60%;
  float:left;
  clear:both;
}
header section#me article#photo {
  float:left;
  background-image:url("../images/photo.jpg");
  -webkit-box-shadow:0 0 5px black;
  width:100px;
  height:127px;
}
header section#me article#titles {
  float:right;
}
header section#card {
  float:right;
  width:30%;
  margin-top:10px;
  text-align:right;
}
header section#card ul{
  list-style-type:none;
}
header section#currently {
  text-align:center;
  font-style:italic;
  margin-bottom:5px;
  background-color:#d0ff9a;
  border-radius:5px 5px;
}
header section#language {
  margin:0;
  text-align:right;
}
header section#language ul{
  list-style-type:none;
  padding:0;
}
header section#language li{
  display:inline-block;
}
header section#language a {
  color:black;
}
header section#language a:hover {
  background-color:#d0ff9a;
}
/******** NAVBAR ******************/
nav {
  clear:both;
}
nav ul {
    list-style-type: none;
    padding:0;
}
nav li {
	padding: 0px 5px 0px 5px;
	margin: 15px 10px 15px 10px;
    display:inline-block;
}
nav li a {
	color:#333;
	padding-bottom:3px;
	text-decoration: none;
}
nav li a:hover {
	-webkit-border-image: url('../images/handdraw-underline-nav.png') 15% stretch stretch;
	-moz-border-image: url('../images/handdraw-underline-nav.png') 15% stretch stretch;
	-o-border-image: url('../images/handdraw-underline-nav.png') 15% stretch stretch;
	border-image: url('../images/handdraw-underline-nav.png') 15% stretch stretch;
	border-width:0;
    border-bottom-width:20px;
}
/******** CONTENT ************/
#content section {
    -webkit-border-image: url('../images/handdraw-section.png') 25% repeat repeat;
	-moz-border-image: url('../images/handdraw-section.png') 25% repeat repeat;
	-o-border-image: url('../images/handdraw-section.png') 25% repeat repeat;
	border-image: url('../images/handdraw-section.png') 25% repeat repeat;
    border-width:20px;
}
#content section h3 {
	margin-top:0;
	color:#333;
	font-weight: normal;
	-webkit-border-image: url('../images/handdraw-line.png') 15% repeat repeat;
	-moz-border-image: url('../images/handdraw-line.png') 15% repeat repeat;
	-o-border-image: url('../images/handdraw-section.png') 25% repeat repeat;
	border-image: url('../images/handdraw-line.png') 15% repeat repeat;
	border-width:0;
    border-bottom-width:10px;
	
}
#content section ul {
  list-style-type:none;
}
#content section a {
  color:black;
}
#content section a:hover {
  background-color:#d0ff9a;
}
/********** CONTENT SPECIFIC STYLES **********/
section#skills  h4{
  margin-top:0;
  padding-top:0;
}
section#experiences ul {
  list-style:none;
}
section#experiences li {
  clear:both;
}
section#experiences div.exp-time {
  margin-bottom:15px;
  width:15%;
  float:left;
}
section#experiences div.exp-time span.duration {
  margin-top:5px;
  font-style:italic;
  display:block;
}
section#experiences div.exp-content {
  margin-bottom:15px;
  width:80%;
  float:right;
  text-align:justify;
}
section#skills li {
  padding-bottom:5px;
}
article.informatic {
  width:55%;
  float:left;
}
article.lang {
  width:40%;
  float:right;
}
section#education ul {
  list-style:none;
}
section#education li {
  clear:both;
}
section#education div.edu-time {
  margin-bottom:15px;
  width:15%;
  float:left;
}
section#education div.edu-content {
  margin-bottom:15px;
  width:80%;
  float:right;
  text-align:justify;
}

.footer {
  height:1000px;
}
.clear {
  clear:both;
}
